/* Headers and Nav Styles -------------*/
header {
    color: white;
}
a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.logo, 
.icon-open-menu, 
.icon-close-menu, 
.horizontal-dots-mobile-menu {
    font-size: 2rem;
    transition: all 400ms ease-in-out;
}
.logo, 
.brand-name {
    display: none;
}
.horizontal-dots {
    transform: rotate(270deg);
}
#open-menu {
    transition: all 500ms ease-in-out;
    cursor: pointer;
    
    
}
#close-menu {
    transition: all 500ms ease-in-out;
    cursor: pointer;
    display: none;
}
.img-thumbnail {
    width: 30px;
    height: auto;
}

/* Dropdown Elements Styles -----------------------*/
li.dropdown-item span, 
.theme-customiser-on-mobile {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
/* --- Personalisation*/
.default_theme,
.oceans_theme,
.pinky_theme {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.default {
    background: #343a40;
}
.oceans {
    background: #0dcaf0;
}
.pinky {
    background: #d63384;
}

/* Mobile menu --------------------------------------*/
#mobile-menu {
    display: none;
}
a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
a:hover {
    color: black;
}

/* Left sidebar item ---------------------------------*/
#left-sidebar {
    height: 100vh;
    position: relative;
    transition: all 500ms ease-in-out;
}
.div.col-md-3, 
.div.col-7 {
    transform: translateX(-50%);
    transition: all 400ms ease-in-out;
}
#left-sidebar input {
    width: 100%;
   height: 40px;
   color: white;
   outline: none;
   border: none;
   padding-left: 35px;
   transition: all 0.5s ease;
    background: #1d1b31;
}
.left-sidebar-item .bx-search {
    color: white;
    font-size: 1.5rem;
}
.bx-search.open-state { /*properly align search btn on sidebar collapse*/
    position:absolute;
    margin: 10px 10px;
    font-size: 1.5rem;
}
.left-sidebar-item {
    font-size: 1rem;
    margin: 15px 0;
    padding: 8px 0;
    font-family: 'Roboto', sans-serif;
}
.left-sidebar-item:hover:not(:first-child) {
    background-color: white;
    color: rgb(219, 173, 173);
    border-radius: 10%;
}
.link-item {
    display: none;
    transition: all 600ms ease-in-out;
}
.left-sidebar-item .bx,
 .settings .bx {
    font-size: 1.3rem;
}

/*----------------  Settings box*/
.settings {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #1d1b31;
}
.settings-box {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

/* Main Content Area --------------------*/
.main-content-area div {
    height: 10rem;
    font-family: 'Roboto', sans-serif;
}