header {
    color: white;
}
a {
    text-decoration: none;
}
.bx-doughnut-chart, 
.bx-menu, 
.bx-menu-alt-right, 
.bx-dots-vertical-rounded {
    font-size: 2rem;
    transition: all 400ms ease-in-out;
}
.bx-doughnut-chart, 
.codevotex {
    display: none;
}
.horizontal-dots {
    transform: rotate(270deg);
}
#open-menu {
    transition: all 500ms ease-in-out;
    cursor: pointer;
    
    
}
#close-menu {
    transition: all 500ms ease-in-out;
    cursor: pointer;
    display: none;
}
.img-thumbnail {
    width: 30px;
    height: auto;
}
/*Mobile menu*/
#mobile-menu {
    display: none;
}
a {
    color: white;
}
a:hover {
    color: black;
}
/*Left sidebar item*/
#left-sidebar {
    height: 100vh;
    position: relative;
    transition: all 500ms ease-in-out;
}
.div.col-md-3, 
.div.col-6 {
    transform: translateX(-50%);
    transition: all 400ms ease-in-out;
}
#left-sidebar input {
    width: 100%;
   height: 40px;
   color: white;
   outline: none;
   border: none;
   padding-left: 35px;
   transition: all 0.5s ease;
    background: #1d1b31;
}
.left-sidebar-item .bx-search {
    color: white;
    font-size: 1.5rem;
}
.bx-search.open-state { /*properly align search btn on sidebar collapse*/
    position:absolute;
    margin: 10px 10px;
    font-size: 1.5rem;
}
.left-sidebar-item {
    font-size: 1rem;
    margin: 15px 0;
    padding: 8px 0;
}
.left-sidebar-item:hover:not(:first-child) {
    background-color: white;
    color: rgb(219, 173, 173);
    border-radius: 10%;
}
.link-item {
    display: none;
    transition: all 600ms ease-in-out;
}
.left-sidebar-item .bx,
 .settings .bx {
    font-size: 1.3rem;
}

/*Settings box*/
.settings {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #1d1b31;
}
.settings-box {
    font-size: 1rem;
}